.development-image {
  width:100%;
}

.victory {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
}

/* Style overrides */
.mask {
  background-color:rgba(194, 130, 79,.7) !important;
}

.slides h2 {
  font-size: 20px;
}

.flex-control-paging {
  display:none;
}

blockquote {
  font-size:250%;
}

.welcome-text {
  font-family: 'Open Sans',sans-serif;
  color: white;
  font-size:350%;
}

#home, #paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4 {
	background-color:#C2824F;
}
#home {
	background-image:url('../images/theme-pics/paralax-orange-3.jpg');
}
#paralaxSlice1 {
	background-image: url('../images/zen.jpg');
  background-repeat: no-repeat;
  background-color: black;
}
#paralaxSlice2 {
	background-image: url('../images/zen.jpg');
  background-repeat: no-repeat;
  background-color: black;
}
#paralaxSlice3 {
	background-image: url('../images/zen.jpg');
  background-repeat: no-repeat;
  background-color: black;
}
#paralaxSlice4 {
	background-image: url('../images/zen.jpg');
  background-repeat: no-repeat;
  background-color: black;
}
#paralaxSlice5 {
	background-image:  url('../images/idea_on_the_horizon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

#homeFullScreen {
    background-image: url('../images/beard.jpg');
}

@media (min-width: 0px) and (max-width: 374px) {
    h1 {
      font-size:34px;
    }
    blockquote {
      font-size:200%;
    }
    h3 {
      font-size:16px;
    }
    .welcome-text {
      font-size:250%;
    }
}

@media (max-width: 400px) {
  #flexHome h2 {
      font-size: 14px;
  }
}

@media (min-width: 375px) and (max-width: 439px) {
  .welcome-text {
    font-size:300%;
  }
  #flexHome h2 {
      font-size: 16px;
  }
}

@media (min-width: 375px) and (max-width: 400px) {
  h1 {
    font-size:40px;
  }
}
